@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <a asp-action="Login">Login</a>
    <br />
   <a asp-controller="Secured" asp-action="Index">Secured Page</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
<!--<h1 class="h3 mb-3 font-weight-normal">Welcome to Cookie Authentication</h1>-->

